# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# secrets & local env
.env
.env.local
.env*.local

# indexer cursors / cache
/.cache/

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.tsbuildinfo
